
*{
  font-size: 0;
  text-align: center;
  
}

.showCard {
  font-size: 0;
  margin: 0 auto;
}

.primeira{
  position: absolute;
  left: 0px;
}

.segunda{
  background-color: blueviolet;
  position: absolute;
  left: 201.6px;
}
.terceira{
  background-color: bisque;
  position: absolute;
  left: 403.2px;
}
.quarta{
  background-color: chocolate;
  position: absolute;
  left:604.8px;
}

#change{
  font-size: 15px;
  position: relative;
  top: 200px;
  display: inline-block;
}
#show{
  font-size: 15px;
  position: relative;
  top: 200px;
  display: inline-block;
}

#container{
  position: relative;
  background-color: aquamarine;
  height: 350px;
  display: inline-block;
  width: 850.4px;
  perspective: 1000px;
}

.flip-card{
  width: 200px;
  height: 320px;
  transition: 1s;
  border: 1px solid black;
}

.flipada{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.front, .back{
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.back{
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
  background-image: url('assets/background.jpg');
  background-size: cover;
}
.front{
  height: 100%;
  width: 100%;
}

.escolhido{
  border: 1px gold solid;
}

.palad{
  background-image: url(/assets/ruler.jpg);
  background-size: cover;
}