
*{
  font-size: 0;
  text-align: center;
}
@import url('https://fonts.cdnfonts.com/css/seagram-tfb');


#title{
  font-size: 26px;
  font-family: 'Seagram tfb', sans-serif;
  color: black;
  margin: auto;
  margin-bottom: 10px;
}

.main{
  background-image: url("assets/grunge-paper-background-for-design-700-231425288.jpg");
  background-size: cover;
  border-radius: 10px;
  margin: auto;
  width: 920px;
  height: auto;
  padding-top: 20px;
  border: 2px solid black;
}

#result , #score, #chances{
  font-size: 20px;
  font-family: 'Seagram tfb', sans-serif;
  color: black;
  display: inline-block;
  background-color: rgba(184, 134, 11,0.6);
  border: 2px solid black;
  border-radius: 12px;
  margin: 0;
  padding: 10px;
}

#result:hover{
  background-color: rgba(184, 134, 11,1);
  border: 2px solid gold;
}

#play{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;

}

#container{
  height: 335px;
  display: inline-block;
  width: 806.4px;
  perspective: 1000px;
  
  
}

#paladin{
  left: 0px;
}

.paladin{
  background-image: url(https://i.pinimg.com/564x/73/e3/34/73e334f0eee1cf989aae036d1e1ec063.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
  
}

#mage{
  left: 201.6px;
}

.mago{
  background-image: url(https://i.pinimg.com/564x/e4/48/e3/e448e39a5ca02f8baa87acc7f395757d.jpg);
  background-size: cover;
  
}

#scout{
  left: 403.2px;
}

.batedor{
  background-image: url(https://i.pinimg.com/564x/ac/cc/7b/accc7b38e3b7403b8e1dd503db4d4d8c.jpg);
  background-size: cover;
}

#warrior{
  left:604.8px;
}

.guerreiro{
  background-image: url(https://i.pinimg.com/564x/88/67/43/8867431b0fed76d93f391428d5751413.jpg);
  background-size: cover;
}

.front, .back{
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.back{
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
  background-image: url('assets/background.jpg');
  background-size: cover;
  opacity: 0.9;
}
.back:hover{
  opacity: 1;
}

.front{
  height: 100%;
  width: 100%;
}

#paladin,#mage,#scout,#warrior {
  width: 200px;
  height: 335px;
  transition: 0.5s;
  position: absolute;
}

.flipada{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

/*Testes*/
.escolhido{
  border: 1px gold solid;
}
