
*{
  font-size: 0;
  text-align: center;
}
@font-face {
  font-family: "Seagram";
  src: url("/Fonts/Seagram\ tfb.ttf");
}

#title{
  font-size: 26px;
  font-family: "Seagram";
  color: black;
  margin: auto;
  margin-bottom: 10px;
}

.main{
  background-color: antiquewhite;
  background-image: url("assets/grunge-paper-background-for-design-700-231425288.jpg");
  border-radius: 10px;
  margin: auto;
  width: 920px;
  height: 430px;
  padding-top: 20px;
  border: 2px solid black;
}

#result{
  font-size: 20px;
}

#container{
  height: 335px;
  display: inline-block;
  width: 806.4px;
  perspective: 1000px;
}

#paladin{
  left: 0px;
}

.paladin{
  background-image: url(/assets/paladin.jpg);
  background-size: cover;
  height: 100%;
  width: 100%;
}

#mage{
  left: 201.6px;
}

.mago{
  background-image: url(/assets/mage.jpg);
  background-size: cover;
  
}

#scout{
  left: 403.2px;
}

.batedor{
  background-image: url(/assets/scout.jpg);
  background-size: cover;
}

#warrior{
  left:604.8px;
}

.guerreiro{
  background-image: url(/assets/warrior.jpg);
  background-size: cover;
}

.front, .back{
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.back{
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
  background-image: url('assets/background.jpg');
  background-size: cover;
}
.front{
  height: 100%;
  width: 100%;
}

#paladin,#mage,#scout,#warrior {
  width: 200px;
  height: 335px;
  transition: 1s;
  position: absolute;
}

.flipada{
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

/*Testes*/
.escolhido{
  border: 1px gold solid;
}

#change{
  font-size: 15px;
  top: 200px;
  display: inline-block;
}
#show{
  font-size: 15px;
  top: 200px;
  display: inline-block;
}